fastapi==0.111.0
joblib==1.4.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless
pandas==2.2.2
Pillow==10.3.0
pydantic==2.7.3
pyocr==0.8.5
pytesseract==0.3.10
requests==2.31.0
scikit-learn==1.4.2
setuptools==63.2.0
streamlit==1.35.0
tensorflow==2.16.1
httpx==0.27.0
python-dateutil==2.9.0.post0
scipy==1.13.0
fastapi-cli==0.0.4
uvicorn==0.29.0
